{% extends 'base.html' %}
{% block body_content %}
{% load static %}

<div class="container artwork">
  <div class="row">
    {% for artwork in artworks %}
    <div class="col-md-4 col-sm-6">
      <div class="artwork-frame">
        <img src="{{ artwork.image.url }}" alt="{{ artwork.title }}">
        <div class="artwork-description">
          <p>{{ artwork.description }}</p>
          <a href="{{ artwork.get_absolute_url }}">View Artwork</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>


<style>
  .artwork-frame {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Shadow effect */
  }

  .artwork-description {
    margin-top: 10px;
    color: #FF4500; /* Reddish-Orange color */
  }

  .artwork-frame img {
    transition: transform 0.3s;
  }

  .artwork-frame:hover img {
    transform: scale(1.1);
  }
</style>

{% endblock %}
